<li>
	{{burger_name}}

<button class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}DEVOURED TIME!{{/if}}
	</button>

	<button class="delete" data-id="{{id}}">DELETE</button>
</li>